@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---- Base Layer ---- */
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
    color: #475569;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-gray-300;
  }

  a {
    @apply text-green-600 transition-colors;
  }
}

/* ---- Components Layer ---- */
@layer components {
  .card {
    @apply flex flex-col flex-1 break-words bg-gray-100 rounded-lg text-primary p-4;
  }

  .card_main_text {
    @apply font-bold text-2xl
  }

  .cards-row {
    @apply flex flex-col items-center gap-4 md:flex-row md:flex-wrap md:justify-center lg:justify-start lg:items-stretch;
  }

  .card-row {
    @apply md:basis-[48%] lg:basis-[30%];
  }
}

/* ---- Utilities Layer ---- */
@layer utilities {
  .content-auto {
    content-visibility: auto;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .container {
    width: 100%;
    max-width: 1206px;
    padding: 20px;
    margin: 0 auto;
  }
}